.card-type-box {
  flex-direction: row;
  padding: 5px 10px;
  margin: 2px 3px;
  background-color: rgb(252, 32, 222);
  border-radius: 5px;
  font-weight: bold;
  align-items: center;
  justify-content: center;

}

.grass {
  background-color: rgb(1, 155, 1)
}
.poison {
  background-color: rgba(124, 40, 173, 0.767)
}
.fire {
  background-color: rgba(255, 72, 72, 0.911)
}
.electric {
  background-color: gold
}
.water {
  background-color: rgba(1, 1, 226, 0.58);
}
.flying {
  background-color: rgb(39, 210, 253)
}

.details-container{
  position: absolute;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  top: -75px;
}

.details-container-wrapper {
  width: 40%;
  position: relative;
  align-items: center;
}

.details-img-container {
  max-height: 250px;
  width: 50%;
}

.pokemons-container {
  width: 60%;
}

.pokemon-card {
  cursor: pointer;
  max-height: 350px;
}

.card-img-container {
  max-height: 50%;
}

.pokemon-details {
  position: fixed;
  width: 300px;
}

.details-type {
  padding: 2px;
  font-size: 14px;
}

.details-table-container {
  margin: 5px;
}
.border-right {
  border-right: 1px solid gray;
}

.border-left {
  border-left: 1px solid gray;
}

.border-bottom {
  border-bottom: 1px solid gray;
}
.border-top {
  border-top: 1px solid gray;
}

@media screen and (max-width: 768px) {
  .details-container{
    width: 100%;
    top: -85px;
  }
  
  .details-container-wrapper  {
    width: 50%;
  }
  .pokemons-container {
    width: 50%;
  }

  .pokemon-details {
    width: 250px;
  }

  .details-type {
    font-size: 11px;
  }

  .details-img-container {
    width: 50%;
  }
}

@media screen and (max-width: 507px) {

  .pokemon-details {
    width: 150px;
  }

  .details-img-container {
    width: 90%;
}
}
